@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_font:"Montserrat";
  --primary_bg: #04040c;
  --primary_text:#BC61F3;
}

@layer base {
  html,
  body {
    @apply bg-primaryBg;
  }
}
